# Temel kütüphaneler
pandas
numpy
yfinance
pandas-ta
python-telegram-bot[job-queue]
flask

# Opsiyonel ama faydalı olanlar
requests
matplotlib
mplfinance
pytz
openpyxl
seaborn

# Logging ve diğer yardımcılar
aiosqlite
asyncio
